# EmailJS Credentials Template
VITE_SERVICE_ID=service_ugmin38
VITE_TEMPLATE_ID=template_rrvhwln
VITE_PUBLIC_KEY=1Y5QmzyMQqD78x-qz

VITE_EMAILJS_SERVICE_ID=service_ugmin38
VITE_EMAILJS_TEMPLATE_ID=template_rrvhwln
VITE_EMAILJS_PUBLIC_KEY=1Y5QmzyMQqD78x-qz

# Backend API URL
VITE_API_URL=http://localhost:5000/api
